.WorkerId {
  padding-top: 35px;
}

.workerRow {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.imgBox {
  width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.imgBox img {
  width: 100%;
}

.workerReview {
  font-weight: 300;
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

.descriptionTitle {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.descriptionTitle::after {
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background-color: rgba(223, 103, 63, 1);
  margin: 15px auto;
}

.workerDescription {
}

.commentTitle {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-top: 45px;
}

.commentTitle::after {
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background-color: rgba(223, 103, 63, 1);
  margin: 15px auto;
}
