.WorkerId {
  padding-top: 35px;
}

.workerRow {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.imgBox {
  width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.imgBox img {
  width: 100%;
}

.workerReview {
  font-weight: 300;
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

.descriptionTitle {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.descriptionTitle::after {
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background-color: rgba(223, 103, 63, 1);
  margin: 15px auto;
}

.workerDescription {
  font-size: 17px;
  font-family: "Roboto", sans-serif !important;
  line-height: 25px;
  color: #444;
}

.commentTitle {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-top: 65px;
}

.commentTitle::after {
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background-color: rgba(223, 103, 63, 1);
  margin: 15px auto;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px 20px;
  margin: 10px;
  box-shadow: 0 0 4px 1px #ccc;
}

.commentDate {
  display: flex;
  color: #757575;
  font-size: 16px;
  margin-bottom: 15px;
}

.commentDate i {
  margin-right: 7px;
}

.commentStar {
  display: flex;
  align-items: center;
}

.commentStar .starReview {
  margin-right: 7px;
}

.textReview {
  font-size: 16px;
  line-height: 25px;
  color: #444;
}
