.WorkersItem {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0 3px 1px #ccc;
}

.WorkersItem:hover {
  box-shadow: 0 0 5px 0px #5385c2;
}

.itemLeft {
  width: 30%;
  padding: 0 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.itemRight {
  padding: 0 15px;
  width: 70%;
}

.imgBox {
  width: 130px;
  height: 145px;
  border: 1px solid #ccc;
}

.imgBox img {
  width: 100%;
}
